{% extends "layouts/base.html"%}
{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
      {%block title %}Show Book Two{% endblock %}
        <meta name="keywords" content="Books, recent, Learning, library">
        <meta name="description" content="Books website">
        <meta name="author" content="author name">
        <link href="{% static 'media/qu-icon.jpeg' %}" rel="icon">
        <meta charset="utf-8">
    </head>
    
    <body>
      {% block content %}
      <a href="{% url 'list_books' %}">Go Back</a>
      <h1>Details of Book 2</h1>
      <h2>C++ How to Program, Late Objects Version</h2>
      <h2>Authors:  Paul Deitel, Harvey Deitel </h2>
      <p><strong>C++ How to Program, Late Objects Version, 7/e</strong>
      is ideal for Introduction to Programming (CS1) and other more intermediate courses covering programming in C++. Also appropriate as a supplement for upper-level courses where the instructor uses a book as a reference for the C++ language</p>
      
      <img src="{% static 'media/book2.jpeg' %}" alt="Book2 img" width="200" hight="200">
      {% endblock %}
    </body>
</html>
